<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">

      <a class="navbar-brand" routerLink="/home">Peliculas</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        </ul>

        <div class="d-flex">
          <input #txtBuscar
                (keyup.enter)="buscarPelicula(txtBuscar.value)" 
                 class="form-control me-2" 
                 type="search" 
                 placeholder="Buscar pelicula">
          <button (click)="buscarPelicula(txtBuscar.value)" class="btn btn-outline-success" type="submit">Search</button>
        </div>


      </div>
    </div>
</nav>
